<div name="stored-files-cnt" class="file-list">
    <% _.each(files, function(file) {
          var uriFrags = file.uri && file.uri.split('/');
          var fileName = uriFrags && uriFrags[uriFrags.length - 1]; %>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-file"></i></span>
            <span style="height:auto;" class="form-control"><%= fileName %></span>
            <span id="download-file" class="input-group-addon btn btn-default" value= "<%=file.id%>"><i class="fa fa-download"></i></span>
            <span id="delete-file" class="input-group-addon btn btn-danger" value= "<%=file.id%>"><i class="fa fa-trash"></i></span>
        </div>
    <%}); %>
</div>
<div class="dropzone">
    <div class="dz-default dz-message text-center">
        <span><%= __('drop-files-here') %></span>
    </div>
    <div class="fallback">
        <input name="file" type="file">
    </div>
</div>
<div class="file-modal"></div>
