<div style="min-height:100px;" class="text-center">
  <!-- <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="<%= valuenow || 100 %>" aria-valuemin="<%= valuemin || 0 %>" aria-valuemax="<%= valuemax || 100 %>"
      style="width:<%= valuenow || 100 %>%">
  </div> -->
  <img draggable="false" src="/images/triangle-spinner.gif" width="300" height="200">
</div>
