<div class="wrapper">
  <div class="sidebar-cnt"></div>

  <div id="content-cnt">
    <div class="navbar-cnt"></div>
    <div id="main" class="container">
    </div>
    <div class="loader-gif"></div>
  </div>

  <div id="footer">
    <div id="footer-text">© Molecular Biology Laboratory, Istituto Giannina Gaslini - University of Genoa 2018-2019</div>
  </div><!-- #footer -->
</div><!-- #wrapper -->
<div class="modal-cnt"></div>


<div class="modal fade waiting-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="overflow-y:visible;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert-info">
        <h4 class="modal-title">Wait, operation in progress...</h4>
      </div>
      <div class="modal-body text-center"><img draggable="false" src="/images/triangle-spinner.gif" width="300" height="200"></div>
      <div class="modal-footer">
        <div>
        </div>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

/* @media (min-width: 1200px) {
  .container {
    width:
  } */

  #main {
    padding-bottom: 100px;
    /* Height of the footer element */
  }

  #footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000;
    text-align: center;
  }

  #footer-text {
    margin-top: 40px;
  }

  a#search {
    color: #555;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;

  }


  .loader-gif {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9) url('/images/Preloader_2.gif') 50% 50% no-repeat;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
</style>
